@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #224941 url('./bg.jpg') no-repeat center center/cover;
    color: #fff;
    font-family: 'Charmonman', cursive;
    min-height: 100vh; /* stretches the bg to cover more area */
    overflow: hidden;
    /* to center everything */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1); /* for shrink and grow later */
}